<script type="text/cms-component-config">
  {
    "title": "Insert - Page",
    "caption": ["Page", "Pages"],
    "icon": "material:post_add",
    "options": { "component_preview_size": "collapse" },
    "remote_templates": {
      "publish": "insert_page.publish.html"
    },
    "component_properties": {
      "fields": [
        { "name": "cssStyle", "caption": "CSS Style", "control": "textbox", "controlstyle": "width:260px" },
  
        { "name": "cssClass", "caption": "CSS Class", "control": "textbox", "controlstyle": "width:260px" },
  
        { "name": "wrapper", "caption": "Wrapper",
          "control": "textarea", "controlstyle": "height:150px;width:260px",
          "validate": [
            { "function":"js:if(_obj.wrapper && ((_obj.wrapper||'').toString().indexOf('%%%CONTENT%%%') <= 0)) return 'Wrapper requires %%%CONTENT%%% flag';" },
            { "function":"js:if(_obj.wrapper && ((_obj.wrapper||'').toString().split('%%%CONTENT%%%').length > 2)) return 'Wrapper can only have one %%%CONTENT%%% flag';" }
          ]
        },
        
        { "control": "html", "value": "<b>Example:</b> &lt;div&gt;%%%CONTENT%%%&lt;/div&gt;", "newline": true },
      ]
    },
    "item_properties": {
      "popup": [1000,200],
      "fields": [
        { "name": "page", "control": "link_browser", "caption": "Page", "controlstyle": "width:320px", "readonly": true}
      ]
    }
  }
</script>

<%
  var item = (data && data.item || {});
  var previewSuffix = ((renderType=='gridRowDataPreview') || (renderType=='gridItemPreview')) ? '_preview' : '';

  var wrapper = (properties.wrapper || '%%%CONTENT%%%').toString().split('%%%CONTENT%%%');
  var wrapperPrefix = (wrapper.length >= 1) ? wrapper[0] : '';
  var wrapperSuffix = (wrapper.length >= 2) ? wrapper[1] : '';
%>
<% if (item.page) { %>
  <%-wrapperPrefix%>
  <div class="cmptInsertPage jsharmony_cms_component<%=previewSuffix%> <%=properties.cssClass%>" style="<%=properties.cssStyle%>"></div>
  <%-wrapperSuffix%>
<% } else if(isInEditor) { %>
  <%-wrapperPrefix%>
  <div class="cmptInsertPage jsharmony_cms_component<%=previewSuffix%> empty <%=properties.cssClass%>" style="<%=properties.cssStyle%>;">
    <div><h3>Insert - Page</h3></div>
    <div>
      <span class="material-icons">post_add</span>
    </div>
  </div>
  <%-wrapperSuffix%>
<% } %>