<script type="text/cms-component-config">
  {
    "title": "Video",
    "caption": "Video",
    "icon": "material:ondemand_video",
    "options": { "component_preview_size": "collapse" },
    "component_properties": {
      "fields": [
        { "name": "maxHeight", "caption": "Video Height (px)", "type": "int", "default": 400,
          "control": "textbox", "controlstyle": "width:80px",
          "validate": [
            "IsNumeric",
            "Required",
          ]
        },
  
        { "name": "cssStyle", "caption": "CSS Style", "control": "textbox", "controlstyle": "width:260px" },
  
        { "name": "cssClass", "caption": "CSS Class", "control": "textbox", "controlstyle": "width:260px" },
  
        { "name": "wrapper", "caption": "Wrapper", "control": "textarea", "controlstyle": "height:150px;width:260px",
          "validate": [
            { "function":"js:if(_obj.wrapper && ((_obj.wrapper||'').toString().indexOf('%%%CONTENT%%%') <= 0)) return 'Wrapper requires %%%CONTENT%%% flag';" },
            { "function":"js:if(_obj.wrapper && ((_obj.wrapper||'').toString().split('%%%CONTENT%%%').length > 2)) return 'Wrapper can only have one %%%CONTENT%%% flag';" }
          ]
        },
        
        { "control": "html", "value": "<b>Example:</b> &lt;div&gt;%%%CONTENT%%%&lt;/div&gt;", "newline": true },
      ]
    },
    "item_properties": {
      "popup": [1000,200],
      "fields": [
  
        { "name": "videoMp4", "control": "media_browser", "caption": "Video (mp4)", "controlstyle": "width:320px"},
  
        { "name": "videoWebm", "control": "media_browser", "caption": "Video (webm)", "controlstyle": "width:320px"},
  
        { "name": "videoPreview", "control": "media_browser", "caption": "Video Preview Image", "controlstyle": "width:320px"},
  
        { "name": "link", "control": "link_browser", "caption": "Link", "controlstyle": "width:320px"},
  
        { "name": "linkTarget", "control": "dropdown", "caption": "Link Target",
            "lov": { "values": { "": "Same Window", "_blank": "New Window" } }},
  
        { "name": "contentLayout", "control": "dropdown", "caption": "Content", "default": "all",
          "lov": { "values": { "all": "Title + Body", "title": "Title Only", "body": "Body Only", "none": "None" } }},
  
        { "name": "contentPosition", "control": "dropdown", "caption": "Position", "default": "full", "captionstyle":"margin-left:7px;", "newline": false,
          "lov": { "values": { "full": "Full Width", "left": "Left", "right": "Right" } }},
  
        { "name": "contentOverlayShadow", "control": "dropdown", "caption": "Shadow Overlay", "default": "none", "captionstyle":"margin-left:7px;", "newline": false,
          "lov": { "values": { "none": "None", "light_content": "Light Shadow Behind Content", "light_full": "Light Shadow Over Full Image", "heavy_content": "Heavy Shadow Behind Content", "heavy_full": "Heavy Shadow Over Full Image" } }},
  
        { "name": "title", "control": "htmleditor" },
        { "name": "body", "control": "htmleditor" },
      ]
    }
  }
</script>

<%
  var item = (data && data.item || {});
  var previewSuffix = ((renderType=='gridRowDataPreview') || (renderType=='gridItemPreview')) ? '_preview' : '';

  var wrapper = (properties.wrapper || '%%%CONTENT%%%').toString().split('%%%CONTENT%%%');
  var wrapperPrefix = (wrapper.length >= 1) ? wrapper[0] : '';
  var wrapperSuffix = (wrapper.length >= 2) ? wrapper[1] : '';
%>
<% if (item.videoMp4 || item.videoWebm) { %>
  <%-wrapperPrefix%>
  <%
    var index = 0;
    var showTitle = _.includes(['all','title'], item.contentLayout);
    var showBody = _.includes(['all','body'], item.contentLayout);

    //Video
    var videoHeight = properties.maxHeight || 400;
    var videoStyle = 'min-height:'+videoHeight+'px;';
    var videoContainerStyle = 'height:'+videoHeight+'px;';

    //Shadow
    var videoShadow = '';
    var videoContentShadow = '';
    if(item.contentOverlayShadow=='light_content') videoContentShadow = 'cmptVideo_content-shadowLight';
    else if(item.contentOverlayShadow=='light_full') videoShadow = 'cmptVideo-shadowLight';
    else if(item.contentOverlayShadow=='heavy_content') videoContentShadow = 'cmptVideo_content-shadowHeavy';
    else if(item.contentOverlayShadow=='heavy_full') videoShadow = 'cmptVideo-shadowHeavy';

    //Link
    var linkStyle = 'height:'+videoHeight+'px;';
    var linkOnClick = '';
    var linkUrl = item.link||'';
    if(previewSuffix) linkUrl = '';
    else if(linkUrl.substr(0,3)=='js:'){
      linkOnClick = linkUrl.substr(3) + '; return false;';
      linkUrl = '#';
    }
  %>
  <div class="cmptVideo jsharmony_cms_component<%=previewSuffix%> <%=videoShadow%> <% if(!previewSuffix){ %>responsive fullWidth<% } %> <%=properties.cssClass%>" style="<%=videoContainerStyle%><%=properties.cssStyle%>">
    <video style="<%=videoStyle%>" class="cmptVideo_video" <% if(item.videoPreview){ %>poster="<%=item.videoPreview%>"<% } %> autoplay loop muted>
      <% if(item.videoMp4){ %><source type="video/mp4" src="<%=item.videoMp4%>" /><% } %>
      <% if(item.videoWebm){ %><source type="video/webm" src="<%=item.video_url_webm%>" /><% } %>
    </video>
    <a <% if(linkUrl){ %>href="<%=linkUrl%>"<% } %> <% if(linkOnClick){ %>onclick="<%=linkOnClick%>"<% } %> class="cmptVideo_link" style="<%-linkStyle%>" <%if(item.linkTarget){%>target="<%=item.linkTarget%>"<%}%> data-slide-background="1">
      <div class="cmptVideo_content <%=item.contentPosition%> <%=videoContentShadow%>" <% if(linkUrl){ %>style="pointer-events:none;"<% } %>>
          <% if(showTitle){ %><h2 class="cmptVideo_title <%=item.contentPosition%>" <% if(renderType=='gridItemPreview'){ %>data-component-title-editor="title"<% } %>><%-item.title%></h2><% } %>
          <% if(showBody){ %><div class="cmptVideo_body <%=item.contentPosition%>" <% if(renderType=='gridItemPreview'){ %>data-component-full-editor="body"<% } %>><%-item.body%></div><% } %>
      </div>
    </a>
  </div>
  <%-wrapperSuffix%>
<% } else if(isInEditor) { %>
  <%-wrapperPrefix%>
  <div class="cmptVideo jsharmony_cms_component<%=previewSuffix%> empty <%=properties.cssClass%>" style="<%=properties.cssStyle%>;">
    <div><h3>Video</h3></div>
    <div>
      <span class="material-icons">ondemand_video</span>
    </div>
  </div>
  <%-wrapperSuffix%>
<% } %>