<%
function parseSitemapItem(sitemap_item){
  if(!sitemap_item) return;
  sitemap_item.sitemap_item_html = sitemap_item.sitemap_item_text;
  if((sitemap_item.sitemap_item_type||'').toUpperCase() != 'HTML') sitemap_item.sitemap_item_html = escapeHTML(sitemap_item.sitemap_item_html);
}

function renderSitemapItem(sitemap_item){
  var rslt = '';
  if(sitemap_item.sitemap_item_link_type){
    if(isInEditor) rslt += '<a href="#" onclick="return false;">';
    else if(sitemap_item.sitemap_item_link_type.toString().toUpperCase()=='JS'){
      rslt += '<a href="#" onclick="'+escapeHTML(sitemap_item.sitemap_item_link_dest)+'; return false;">';
    } else {
      rslt += '<a href="'+escapeHTML(getSitemapURL(sitemap_item))+'"'+(((sitemap_item.sitemap_item_link_target||'').toUpperCase()=='NEWWIN')?' target="_blank"':'')+'>';
    }
  }
  rslt += '<span>' + sitemap_item.sitemap_item_html + '</span>';
  if(sitemap_item.sitemap_item_link_type) rslt += '</a>';
  return rslt;
}

parseSitemapItem(sitemap.item);
_.each(sitemap.parents, function(parent){ parseSitemapItem(parent); });

%>
<% if(sitemap.item){ %>
  <div class="bcrumbs">
    <% var breadcrumb_parents = _.filter(sitemap.parents, function(parent){ return !parent.sitemap_item_exclude_from_breadcrumbs }); %>
    <% _.each(breadcrumb_parents, function(parent, i){ var is_last = ((i+1)==breadcrumb_parents.length) %>
      <%-renderSitemapItem(parent)%><% if(!is_last || !sitemap.item.sitemap_item_exclude_from_breadcrumbs){ %>&nbsp;/&nbsp;<% } %>
    <% }); %>
    <% if(!sitemap.item.sitemap_item_exclude_from_breadcrumbs){ %>
      <span class="bcrumbs_curr"><%-sitemap.item.sitemap_item_html%></span>
    <% } %>
  </div>
<% } %>
