<%
  var previewSuffix = ((renderType=='gridRowDataPreview') || (renderType=='gridItemPreview')) ? '_preview' : '';

  var wrapper = (properties.wrapper || '%%%CONTENT%%%').toString().split('%%%CONTENT%%%');
  var wrapperPrefix = (wrapper.length >= 1) ? wrapper[0] : '';
  var wrapperSuffix = (wrapper.length >= 2) ? wrapper[1] : '';

  var mapHeight = properties.height || 400;
  var mapAddresses = [properties.addressLine1, properties.addressLine2, properties.addressLine3].filter(function(item){ return (item||'').toString().trim(); });
  var mapLocation = mapAddresses.join(', ');
  var mapUrl = 'https://maps.google.com/maps?width=100%25&amp;height='+encodeURIComponent(mapHeight)+'&amp;hl=en&amp;q='+encodeURIComponent(mapLocation)+'&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed';
%>
<% if(mapLocation) { %>
  <%-wrapperPrefix%>
  <div class="cmptGoogleMap jsharmony_cms_component<%=previewSuffix%> <% if(!previewSuffix){ %>responsive fullWidth<% } %> <%=properties.cssClass%>" style="<%=properties.cssStyle%>">
    <iframe <% if(isInEditor){ %>name="<%=data.component_id%>_iframe" data-<% } %>src="<%-mapUrl%>" width="100%" height="<%=mapHeight%>" frameborder="0" style="border:0;<% if(isInEditor){ %>pointer-events: none;<% } %>" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <%-wrapperSuffix%>
<% } else if(isInEditor) { %>
  <%-wrapperPrefix%>
  <div class="cmptGoogleMap jsharmony_cms_component<%=previewSuffix%> empty <%=properties.cssClass%>" style="<%=properties.cssStyle%>;">
    <div><h3>Map</h3></div>
    <div>
      <span class="material-icons">map</span>
    </div>
  </div>
  <%-wrapperSuffix%>
<% } %>