<%
  var item = (data && data.item || {});
  var previewSuffix = ((renderType=='gridRowDataPreview') || (renderType=='gridItemPreview')) ? '_preview' : '';

  var wrapper = (properties.wrapper || '%%%CONTENT%%%').toString().split('%%%CONTENT%%%');
  var wrapperPrefix = (wrapper.length >= 1) ? wrapper[0] : '';
  var wrapperSuffix = (wrapper.length >= 2) ? wrapper[1] : '';
%>
<% if (item.videoMp4 || item.videoWebm) { %>
  <%-wrapperPrefix%>
  <%
    var index = 0;
    var showTitle = _.includes(['all','title'], item.contentLayout);
    var showBody = _.includes(['all','body'], item.contentLayout);

    //Video
    var videoHeight = properties.maxHeight || 400;
    var videoStyle = 'min-height:'+videoHeight+'px;';
    var videoContainerStyle = 'height:'+videoHeight+'px;';

    //Shadow
    var videoShadow = '';
    var videoContentShadow = '';
    if(item.contentOverlayShadow=='light_content') videoContentShadow = 'cmptVideo_content-shadowLight';
    else if(item.contentOverlayShadow=='light_full') videoShadow = 'cmptVideo-shadowLight';
    else if(item.contentOverlayShadow=='heavy_content') videoContentShadow = 'cmptVideo_content-shadowHeavy';
    else if(item.contentOverlayShadow=='heavy_full') videoShadow = 'cmptVideo-shadowHeavy';

    //Link
    var linkStyle = 'height:'+videoHeight+'px;';
    var linkOnClick = '';
    var linkUrl = item.link||'';
    if(previewSuffix) linkUrl = '';
    else if(linkUrl.substr(0,3)=='js:'){
      linkOnClick = linkUrl.substr(3) + '; return false;';
      linkUrl = '#';
    }
  %>
  <div class="cmptVideo jsharmony_cms_component<%=previewSuffix%> <%=videoShadow%> <% if(!previewSuffix){ %>responsive fullWidth<% } %> <%=properties.cssClass%>" style="<%=videoContainerStyle%><%=properties.cssStyle%>">
    <video style="<%=videoStyle%>" class="cmptVideo_video" <% if(item.videoPreview){ %>poster="<%=item.videoPreview%>"<% } %> autoplay loop muted>
      <% if(item.videoMp4){ %><source type="video/mp4" src="<%=item.videoMp4%>" /><% } %>
      <% if(item.videoWebm){ %><source type="video/webm" src="<%=item.video_url_webm%>" /><% } %>
    </video>
    <a <% if(linkUrl){ %>href="<%=linkUrl%>"<% } %> <% if(linkOnClick){ %>onclick="<%=linkOnClick%>"<% } %> class="cmptVideo_link" style="<%-linkStyle%>" <%if(item.linkTarget){%>target="<%=item.linkTarget%>"<%}%> data-slide-background="1">
      <div class="cmptVideo_content <%=item.contentPosition%> <%=videoContentShadow%>" <% if(linkUrl){ %>style="pointer-events:none;"<% } %>>
          <% if(showTitle){ %><h2 class="cmptVideo_title <%=item.contentPosition%>" <% if(renderType=='gridItemPreview'){ %>data-component-title-editor="title"<% } %>><%-item.title%></h2><% } %>
          <% if(showBody){ %><div class="cmptVideo_body <%=item.contentPosition%>" <% if(renderType=='gridItemPreview'){ %>data-component-full-editor="body"<% } %>><%-item.body%></div><% } %>
      </div>
    </a>
  </div>
  <%-wrapperSuffix%>
<% } else if(isInEditor) { %>
  <%-wrapperPrefix%>
  <div class="cmptVideo jsharmony_cms_component<%=previewSuffix%> empty <%=properties.cssClass%>" style="<%=properties.cssStyle%>;">
    <div><h3>Video</h3></div>
    <div>
      <span class="material-icons">ondemand_video</span>
    </div>
  </div>
  <%-wrapperSuffix%>
<% } %>