<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/style.mobile.css" />
<link rel="stylesheet" type="text/css" href="/fonts/fonts.css" />
<script language="javascript" type="text/javascript" src="/js/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript" src="/js/aphWebComponents.js"></script>
<script language="javascript" type="text/javascript" src="/js/site.js"></script>

</head>

<body class="cms_editor">
  <!-- Start of template -->
  <a class="mceTmpl btnCTA" href="#">Action</a>
  <!-- End of template -->
</body>
</html>
