<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/style.mobile.css" />
<link rel="stylesheet" type="text/css" href="/fonts/fonts.css" />
<script language="javascript" type="text/javascript" src="/js/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript" src="/js/aphWebComponents.js"></script>
<script language="javascript" type="text/javascript" src="/js/site.js"></script>

</head>

<body class="cms_editor">
  <!-- Start of template -->
  <div class="mceTmpl formContact">
    <form action="mailto:user@company.com" target="_blank" method="post" enctype="text/plain">
      <table>
        <tr>
          <td><label>Name:</label></td>
          <td><input type="text" name="Name" required="required" /></td>
        </tr>
        <tr>
          <td><label>Email:</label></td>
          <td><input type="email" name="Email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email Address" /></td>
        </tr>
        <tr>
          <td><label>Phone:</label></td>
          <td><input type="tel" name="Phone" required="required" pattern="[1\-( ]*\d{3}[\-) ]*\d{3}[ \-]*\d{4}.*" title="Phone Number: ###-###-####" placeholder="###-###-####" /></td>
        </tr>
        <tr>
          <td colspan="2" class="vert">
            <label>How can we help you?</label>
            <textarea name="Message" required="required"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td align="left"><input type="submit" value="Send" /></td>
        </tr>
      </table>
    </form>
  </div>
  <!-- End of template -->
</body>
</html>
