[
  {"title": "Panel: Icons", "description": "Row of 3 icons in a full-width panel", "url": "/templates/websnippet/panel.icons.html"},
  {"title": "Panel: Quote", "description": "Quote in a full-width panel", "url": "/templates/websnippet/panel.quote.html"},
  {"title": "Panel: Bios", "description": "Row of 3 people / bios in a full-width panel", "url": "/templates/websnippet/panel.bios.html"},
  {"title": "Button: Call to Action", "description": "Link button used as a Call to Action", "url": "/templates/websnippet/button.cta.html"},
  {"title": "Form: Contact Us", "description": "Contact Us Form", "url": "/templates/websnippet/form.contact.html"}
]