<% 
req._override_title = ''; 
%>
<style type="text/css">
.jshInstance_CMS_mlogin a { display:none; }
.jshInstance_CMS_mlogin label { display:none; }
.jshInstance_CMS_mlogin .button { padding:2px 8px; margin-top:2px; }
</style>
<div><!-- ***JSHARMONY_LOGIN_DEMO*** -->
  <!-- MAIN SYSTEM DEMO ACCOUNT -->
  <% if(!ejsparams.username) ejsparams.username = 'demo@jsharmonycms.com'; %>
  <h1 style="display:inline-block;" class="xform_title">CMS Demo - Read-Only</h1>
  <div style="padding-top:2px;">
    <div style="padding-bottom:1px;"><b>Demo User:</b> demo@jsharmonycms.com <span style="color:#999;">&nbsp;(read-only)</span></div>
    <b>Password:</b> Content@Work
  </div>
  <div style="padding-top:14px;font-weight:bold;display:none;">* Demo Site is Read-Only *</div>
  <div style="width:1px;height:15px;"></div>
</div>
<%-jsh.RenderView('jsharmony/jsh_login',ejsparams)%>
<script type="text/javascript">
<% if(ejsparams.username=='demo@jsharmonycms.com'){ %>
document.querySelectorAll('.password')[0].value = 'Content@Work';
<% } %>
</script>