<%
  var item = (data && data.item || {});
  var previewSuffix = ((renderType=='gridRowDataPreview') || (renderType=='gridItemPreview')) ? '_preview' : '';

  var wrapper = (properties.wrapper || '%%%CONTENT%%%').toString().split('%%%CONTENT%%%');
  var wrapperPrefix = (wrapper.length >= 1) ? wrapper[0] : '';
  var wrapperSuffix = (wrapper.length >= 2) ? wrapper[1] : '';
%>
<% if (item.image) { %>
  <%-wrapperPrefix%>
  <div class="cmptSlideshow jsharmony_cms_component<%=previewSuffix%> cmptSlideshow-<%=properties.display%> <% if(!previewSuffix){ %>responsive fullWidth<% } %> <%=properties.cssClass%>" style="<%=properties.cssStyle%>">
    <%
      var index = 0;
      var showTitle = _.includes(['all','title'], item.contentLayout);
      var showBody = _.includes(['all','body'], item.contentLayout);

      //Shadow
      var slideShadow = '';
      var slideContentShadow = '';
      if(item.contentOverlayShadow=='light_content') slideContentShadow = 'cmptSlideshow_slideContent-shadowLight';
      else if(item.contentOverlayShadow=='light_full') slideShadow = 'cmptSlideshow_slide-shadowLight';
      else if(item.contentOverlayShadow=='heavy_content') slideContentShadow = 'cmptSlideshow_slideContent-shadowHeavy';
      else if(item.contentOverlayShadow=='heavy_full') slideShadow = 'cmptSlideshow_slide-shadowHeavy';

      //Link
      var linkStyle = "background-image: url('"+ encodeURI(item.image) +"');";
      var linkOnClick = '';
      var linkUrl = item.link||'';
      if(previewSuffix) linkUrl = '';
      else if(linkUrl.substr(0,3)=='js:'){
        linkOnClick = linkUrl.substr(3) + '; return false;';
        linkUrl = '#';
      }

      //Image
      var imageStyle = '';
      if(properties.display == 'scale'){
        //Relative Scaling
        if(properties.maxHeight){
          imageStyle += 'max-height:'+properties.maxHeight+'px;width:auto;';
        }
      }
      else {
        //Fixed Height
        var imageHeight = properties.maxHeight || 400;
        imageStyle = 'height:'+imageHeight+'px;';
        imageStyle += 'width:100%;';
      }
    %>
    <div class="cmptSlideshow_slide item<%=index%> <%=item.cssClass||''%> <%=slideShadow%>" data-slide="<%=index%>">
      <a <% if(linkUrl){ %>href="<%=linkUrl%>"<% } %> <% if(linkOnClick){ %>onclick="<%=linkOnClick%>"<% } %> class="cmptSlideshow_slideLink" style="<%-linkStyle%>" <%if(item.linkTarget){%>target="<%=item.linkTarget%>"<%}%> data-slide-background="1"><img data-slide-image="1" class="cmptSlideshow_slideImage" src="<%=item.image%>" style="<%=imageStyle%>" /></a>
        <div class="cmptSlideshow_slideContent <%=item.contentPosition%> <%=slideContentShadow%>" <% if(linkUrl){ %>style="pointer-events:none;"<% } %>>
            <% if(showTitle){ %><h2 class="cmptSlideshow_slideTitle <%=item.contentPosition%>" <% if(renderType=='gridItemPreview'){ %>data-component-title-editor="title"<% } %>><%-item.title%></h2><% } %>
            <% if(showBody){ %><div class="cmptSlideshow_slideBody <%=item.contentPosition%>" <% if(renderType=='gridItemPreview'){ %>data-component-full-editor="body"<% } %>><%-item.body%></div><% } %>
        </div>
    </div>
  </div>
  <%-wrapperSuffix%>
<% } else if(isInEditor) { %>
  <%-wrapperPrefix%>
  <div class="cmptSlideshow jsharmony_cms_component<%=previewSuffix%> empty <%=properties.cssClass%>" style="<%=properties.cssStyle%>;">
    <div><h3>Banner</h3></div>
    <div>
      <span class="material-icons">image</span>
    </div>
  </div>
  <%-wrapperSuffix%>
<% } %>