<%
function parseSitemapItem(sitemap_item){
  if(!sitemap_item) return;
  sitemap_item.sitemap_item_html = sitemap_item.sitemap_item_text;
  if((sitemap_item.sitemap_item_type||'').toUpperCase() != 'HTML') sitemap_item.sitemap_item_html = escapeHTML(sitemap_item.sitemap_item_html);
}

function getSitemapItemClass(sitemap_item, baseClass){
  var rslt = (baseClass || '') + ' ' + (sitemap_item.sitemap_item_class || '');
  rslt = rslt.trim();
  if(!rslt) return '';
  return ' class="' + escapeHTML(rslt) + '"';
}
function getSitemapItemStyle(sitemap_item, baseStyle){
  var rslt = (baseStyle || '') + ' ' + (sitemap_item.sitemap_item_style || '');
  rslt = rslt.trim();
  if(!rslt) return '';
  return ' style="' + escapeHTML(rslt) + '"';
}

function renderTree(){
  if(sitemap.parents.length >= 2) return renderTreeNode(sitemap.parents[1]);
  else if(!sitemap.parents.length && (sitemap.item.sitemap_item_siblings.length <= 1)) return renderTreeNodeChildren();
  else return renderTreeNode(sitemap.item);
}

function renderTreeNodeChildren(depth){
  if(!depth) depth = 1;
  var rslt = '<ul>';
  _.each(sitemap.children, function(child){
    parseSitemapItem(child);
    rslt += '<li'+getSitemapItemClass(child)+getSitemapItemStyle(child)+'>';
    rslt += renderSitemapItem(child);
    rslt += '</li>';
  });
  rslt += '</ul>';
  return rslt;
}

function renderTreeNode(sitemap_item, depth){
  if(!depth) depth = 1;
  var rslt = '<ul>';
  _.each(sitemap_item.sitemap_item_siblings, function(sibling){
    parseSitemapItem(sibling);
    rslt += '<li'+getSitemapItemClass(sibling)+getSitemapItemStyle(sibling)+'>';
    rslt += renderSitemapItem(sibling, ((sitemap.item.sitemap_item_id == sibling.sitemap_item_id)?'selected':''));

    if(sitemap_item.sitemap_item_id == sibling.sitemap_item_id){
      var nextNode = null;
      if(sitemap.parents.length > (depth+1)) nextNode = sitemap.parents[depth+1];
      else if(sitemap_item != sitemap.item) nextNode = sitemap.item;
      if(nextNode){
        rslt += renderTreeNode(nextNode, depth+1);
      }
      else if((sitemap_item == sitemap.item) && sitemap.children){
        rslt += renderTreeNodeChildren(depth+1);
      }
    }

    rslt += '</li>';
  });
  rslt += '</ul>';
  return rslt;
}

function renderSitemapItem(sitemap_item, baseClass){
  var rslt = '';
  rslt += '<div class="xsidenav_item '+(baseClass||'')+'">';
  if(sitemap_item.sitemap_item_link_type){
    if(isInEditor) rslt += '<a href="#" onclick="return false;">';
    else if(sitemap_item.sitemap_item_link_type.toString().toUpperCase()=='JS'){
      rslt += '<a href="#" onclick="'+escapeHTML(sitemap_item.sitemap_item_link_dest)+'; return false;">';
    } else {
      rslt += '<a href="'+escapeHTML(getSitemapURL(sitemap_item))+'"'+(((sitemap_item.sitemap_item_link_target||'').toUpperCase()=='NEWWIN')?' target="_blank"':'')+'>';
    }
  }
  rslt += sitemap_item.sitemap_item_html;
  if(sitemap_item.sitemap_item_link_type) rslt += '</a>';
  rslt += '</div>';
  return rslt;
}

parseSitemapItem(sitemap.item);
_.each(sitemap.parents, function(parent){ parseSitemapItem(parent); });
%>
<% if(sitemap.item){ var topItem = sitemap.parents.length ? sitemap.parents[0] : sitemap.item; %>
  <div class="xsidenav">
    <% if(topItem){ %>
      <div class="xsidenav_head" <%-getSitemapItemStyle(topItem)%>>
        <a class="xsidenav_more" href="#" onclick="xsidenav_more_click(this); return false;">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"/></svg>
        </a>
        <%-renderSitemapItem(topItem)%>
      </div>
    <% } %>
    <div class="xsidenav_tree">
    <%-renderTree()%>
    </div>
  </div>
<% } %>
