<%
(function(menu_item_tree){ let forEachMenuItem = function(menu_item_tree){ _.each(menu_item_tree, function(menu_item){
  var menu_item_html = menu_item.menu_item_text;
  if((menu_item.menu_item_type||'').toUpperCase() != 'HTML') menu_item_html = escapeHTML(menu_item_html);
  var menu_item_tag = (menu_item.menu_item_tag||'').toUpperCase();

  var spaces = '';
  var eol = '\n';

  %><%=spaces%><div class="nav_button_container <% if(menu_item.menu_item_class){ %><%=menu_item.menu_item_class%><%}%>"<% if(menu_item.menu_item_style){ %> style="<%=menu_item.menu_item_style%>"<%}%>><%
  
  //Item Link
  if(menu_item.menu_item_link_type){
    if(menu_item.menu_item_link_type.toString().toUpperCase()=='JS'){
      %><a href="#" onclick="<%=getMenuURL(menu_item)%>; return false;"><%-menu_item_html%></a><%
    } else if(isInEditor) {
      %><a href="#" onclick="return false;"><%-menu_item_html%></a><%
    } else {
      %><a href="<%=getMenuURL(menu_item)%>"<%if((menu_item.menu_item_link_target||'').toUpperCase()=='NEWWIN'){%> target="_blank"<%}%>><%-menu_item_html%></a><%
    }
  } else {
    %><%-menu_item_html%><%
  }


  %></div><%-eol%><%

}); }; forEachMenuItem(menu_item_tree); })(menu.menu_item_tree) %>
<span id="xnav_stretch"></span>