<%
(function(menu_item_tree){
  let forEachMenuItem = function(menu_item_tree, parent, grandparent, depth){
    var eol = '\n';
    var spaces = '  ';
    if(!depth) depth = 1;

    %><div class="side_menu_pane <%=(parent?'side_menu_pane_secondary':'side_menu_pane_primary')%>" id="side_menu_<%=(parent?parent.menu_item_id:'root')%>" data-id="<%=(parent?parent.menu_item_id:'root')%>" style="z-index:<%=depth%>"><%-eol%><%

    if(!parent){
      %><%=spaces%><div class="side_menu_item"><a class="side_menu_logo" href="/"><img src="/images/logo.png" alt="Company" /></a></div><%-eol%><%
    }
    else{
      %><%=spaces%><div class="side_menu_item"><a href="#" onclick="side_menu_back(this); return false;">Back</a></div><%-eol%><%
    }

    _.each(menu_item_tree, function(menu_item){
      var menu_item_html = menu_item.menu_item_text;
      if((menu_item.menu_item_type||'').toUpperCase() != 'HTML') menu_item_html = escapeHTML(menu_item_html);
      var menu_item_tag = (menu_item.menu_item_tag||'').toUpperCase();

      

      %><%=spaces%><div class="side_menu_item"><%
      
      //Item Link
      if(menu_item.menu_item_link_type || menu_item.menu_item_children.length){
        %><a data-id="<%=menu_item.menu_item_id%>"<% if(menu_item.menu_item_class){ %> class="<%=menu_item.menu_item_class%>"<%}%><% if(menu_item.menu_item_style){ %> style="<%=menu_item.menu_item_style%>"<%}%><%
        if(menu_item.menu_item_link_type.toString().toUpperCase()=='JS'){
          %> href="#" onclick="<%=getMenuURL(menu_item)%>; return side_menu_click(this);"<%
        } else if(menu_item.menu_item_link_type) {
          %> href="<%=getMenuURL(menu_item)%>" onclick="return side_menu_click(this);"<%
          if((menu_item.menu_item_link_target||'').toUpperCase()=='NEWWIN'){ %> target="_blank"<% }
        } else {
          %> href="#" onclick="return side_menu_click(this);"<%
          if((menu_item.menu_item_link_target||'').toUpperCase()=='NEWWIN'){ %> target="_blank"<% }
        }
        %>><%-menu_item_html%></a><%
      } else {
        %><%-menu_item_html%><%
      }

      %></div><%-eol%><%

    });
    %></div><%-eol%><%

    //Item Children
    _.each(menu_item_tree, function(menu_item){
      if(menu_item.menu_item_children.length) {
        %><%-eol%><%
          forEachMenuItem(menu_item.menu_item_children, menu_item, parent, depth+1);
        %><%=spaces%><%
      }
    });

  };
  forEachMenuItem(menu_item_tree);
})(menu.menu_item_tree);
%>
