<script type="text/cms-websnippet-config">
  {
    "title": "Panel: Icons",
    "description": "Row of 3 icons in a full-width panel",
  }
</script>

<div class="pnlIcons">
  <div class="pnlIcons_item">
    <span class="pnlIcons_icon" style="background-color:#02A9F5;color:#FFFFFF;"><span class="material-icons">&#xe869;</span></span>
    <h3 class="pnlIcons_title">Build</h3>
    <div class="pnlIcons_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, nam eu eros varius.</div>
  </div>
  <div class="pnlIcons_item">
    <span class="pnlIcons_icon" style="background-color:#4CAF50;color:#FFFFFF;"><span class="material-icons">&#xe913;</span></span>
    <h3 class="pnlIcons_title">Deploy</h3>
    <div class="pnlIcons_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, nam eu eros varius.</div>
  </div>
  <div class="pnlIcons_item">
    <span class="pnlIcons_icon" style="background-color:#FBC02D;color:#FFFFFF;"><span class="material-icons">&#xe880;</span></span>
    <h3 class="pnlIcons_title">Analyze</h3>
    <div class="pnlIcons_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, nam eu eros varius.</div>
  </div>
</div>