<script type="text/cms-websnippet-config">
  {
    "title": "Panel: Bios",
    "description": "Row of 3 people / bios in a full-width panel",
  }
</script>

<div class="pnlBios">
  <div class="pnlBios_bio">
    <div class="pnlBios_photo">
      <div class="pnlBios_spacer"></div>
      <img src="images/bio_placeholder.png" />
    </div>
    <h3 class="pnlBios_name">John Smith</h3>
    <div class="pnlBios_title">Title</div>
    <div class="pnlBios_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, nam eu eros varius.</div>
  </div>
  <div class="pnlBios_bio">
    <div class="pnlBios_photo">
      <div class="pnlBios_spacer"></div>
      <img src="images/bio_placeholder.png" />
    </div>
    <h3 class="pnlBios_name">John Smith</h3>
    <div class="pnlBios_title">Title</div>
    <div class="pnlBios_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, nam eu eros varius.</div>
  </div>
  <div class="pnlBios_bio">
    <div class="pnlBios_photo">
      <div class="pnlBios_spacer"></div>
      <img src="images/bio_placeholder.png" />
    </div>
    <h3 class="pnlBios_name">John Smith</h3>
    <div class="pnlBios_title">Title</div>
    <div class="pnlBios_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, nam eu eros varius.</div>
  </div>
</div>