<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>jsHarmony CMS</title>

<base href="%%%url_prefix%%%">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/style.mobile.css" />
<link rel="stylesheet" type="text/css" href="fonts/fonts.css" />
<script language="javascript" type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script language="javascript" type="text/javascript" src="js/aphWebComponents.js"></script>
<script language="javascript" type="text/javascript" src="js/site.js"></script>

<script type="text/cms-page-config">
  {
    "title": "Blank",
    "options": { "title_element_required": false }
  }
</script>

</head>

<body>
  <div id="body_wrapper"><div id="body_inner">

    <div id="xcontentwrap"><div id="xcontent">
      <!-- Content -->

      <div class="xcontentpanel" cms-content-editor="page.content.body">Page Content</div>
      
      <!-- End of Content -->
      <div style="clear:both;"></div>
    </div><div style="clear:both;"></div></div><!-- xcontent_wrap -->
  
    <div id="xloadingblock"><div><div id="xloadingbox">Loading<br/><img src="images/loading.gif" alt="Loading" title="Loading" /></div></div></div>
  </div></div><!-- body_wrapper,body_inner -->
</body>
</html>
